.posts{
    margin: 1rem auto;
    padding: 1.5rem 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1.2rem;
    justify-content: center;
}

.emptyMessage, .loading{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.emptyMessage{
    flex-direction: column;
}

.emptyMessage h1, h2{
    color: #dadada;
    animation: animate-in 1.5s ease-out forwards;
}

.loading p{
  display: flex;
  align-items: center;
  color: #dadada;
}


@keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }