.post{
    background-color: #9c7eee;
    margin-bottom: 1.8rem;
    padding: 2rem 1rem;
    color: #555;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: animate-in 1.5s ease-out forwards;
}

.author{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}


@keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }